@font-face {
  font-family: 'Roobert';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/RoobertRegular.woff') format('woff');
}

@font-face {
  font-family: 'Roobert';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/RoobertLight.woff') format('woff');
}

@font-face {
  font-family: 'Roobert';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/RoobertSemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Roobert';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/RoobertBold.woff') format('woff');
}
